<%= @response %>
<%= search_form_for @q, url: posts_path, method: :get do |f| %>
  <%= f.label :title_cont, 'Title contains' %>
  <%= f.search_field :title %>
  <!-- Add more search fields as needed -->
  <%= f.submit 'Search' %>
<% end %>
<% @posts.each do |post| %>
  <div class="post">
    <h3><%= post.title %></h3>
    <p><%= post.body%></p>
    <!-- Other post details -->
  </div>
<% end %>










<%= link_to "Sign-Out", destroy_admin_user_session_path, method: :delete %> <hr>
<br>
<%= link_to "Create New Post", new_post_path %>
<ul>
  <% $num=1 %>
  <br>
  <h3><strong>Welcome: </strong> <%= "#{current_User.email} "%></h3>
  <% @posts.each do |post| %>
    <div>
    <h2> Post: <%="#{$num}" %></h2>
    <strong><h4>Post title: </h4><p><%= post.title %></p> </strong>
    <strong><h4>Post content:</h4> <p><%= post.body %></p> </strong>
    <h3><strong>Comments: </strong></h3>
    <ul>
      <% post.comments.each do |comment| %>
        <li><strong><%= comment.user.email %>:</strong> <%= comment.content %></li>
      <% end %>
    </ul>

    <%= form_with(model: [post, @new_comment], url: post_comments_path(post)) do |form| %>
      <%= form.text_area :content, placeholder: 'Write your comment here...' %>
      <%= form.submit 'Submit Comment' %>
    <% end %>
    </li>
    <% $num+=1 %>
    </div>
  <% end %>
</ul>



<!--%= will_paginate @posts %>
<!-%= paginate @posts %-->
