<button class="btn btn-info"><%=link_to "Back Home", posts_path %></button>

<div class="card text-center" >


  <div class="p-3 mb-2 bg-dark text-white " >
<% @posts.each do |post| %>
  <div>
    <h2> Post: <%="#{$num}" %></h2>
    <strong><h4>Post title: </h4><p><%= post.title %></p> </strong>
    <strong><h4>Post content:</h4> <p><%= post.body %></p> </strong>
    <h3><strong>Comments: </strong></h3>
    <ul>

      <% post.comments.each do |comment| %>
        <li><strong><%= comment.user.email %>:</strong> <%= comment.content %></li>
      <% end %>
    </ul>
  </div>
      <% end %>


<% @comments.each do |comment| %>
  <strong><h3>Post Title: </h3></strong><p> <%=comment.post.title %></p>
  <strong><h3>Post Body: </h3></strong> <p> <%=comment.post.body %></p>
  <strong><h3>Comment:</h3></strong> <p><%=comment.content %></p>
<% end %>





  </div>
</div>